body {
  padding-bottom: 50px;
  background-color: #232524;
}
button:focus {
  outline: none;
}
h1.title {
  margin: 50px 100px;
}
h3.title {
  margin: 25px 0;
}
div.table {
  color: white;
  width: 80%;
  margin: 50px auto;
  overflow-x: auto;
}
.table td {
  text-align: center;
  vertical-align: middle;
  background-color: #282a29;
}
.table .total td {
  padding: 20px 12px;
}
.table thead th {
  text-align: center;
  vertical-align: middle;
  background-color: #555;
}
tr.plus td.colour {
  color: lawngreen;
}
tr.minus td.colour {
  color: #ff3333;
}
tr.total td {
  font-weight: bold;
  background-color: #333534;
}
button.btn-close {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 0.5s;
}
button.btn-close:hover {
  opacity: 1;
}
button.btn-close img {
  width: auto;
  height: 50px;
}
#chart-div {
  width: 95vw;
  max-width: 1420px;
  height: 65vw;
  max-height: 720px;
  margin: 0 auto 25px auto;
}
